<div class="container">
	<div class="row footer-logo">
		<div class="esquerda">
			{{ page.footer_barra_cima }}
		</div>
	</div>
	<div class="row footer-menus py-4 flex-wrap d-flex g-3">
		<div class="col-20">{{ page.footer_coluna_um }}</div>
		<div class="col-20">{{ page.footer_coluna_dois }}</div>
		<div class="col-20">{{ page.footer_coluna_tres }}</div>
		<div class="col-20">{{ page.footer_coluna_quatro }}</div>
		<div class="col-20">{{ page.footer_coluna_cinco }}</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="coockies">
				<button type="button" class="eu-cookie-withdraw-tab" style="background: #00000000; color: var(--cor-text-light); border: none; padding: 10px 0">
					<i class="fa-solid fa-cookie-bite"></i>
					Redefinir Cookies
				</button>
			</div>
		</div>
	</div>
	<div class="row footer-barra-baixo justify-content-between pb-4 align-items-center">
		<div class="esquerda">
			{{ page.footer_barra_esquerda }}
		</div>
		<div class="direita">
			<a href="http://www.acessoainformacao.gov.br/"><img src="https://drupal-homolog.marinha.mil.br/sites/all/themes/govbr/assets/img/acesso a informacao.svg"></a>
		</div>
	</div>

</div>
<div class="footer-copy py-3 text-center">
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex justify-content-center align-items-center">
				{{ page.footer_copyright }}
			</div>
		</div>
	</div>
</div>
<a href="#topbar" id="totop" class="totop" style="display: block;">
	<i class="fa fa-chevron-up"></i>
</a>
