<div class="container header-mobile oculto-no-desktop">
	<div class="top">
		<div class="logo">
			<a href="{{ base_path }}"><img src="{{ logo }}" alt="{{ site_name }}" class="logo-top"></a>
		</div>
		<span class="header-menu-top" id="header-menu-top">
			<i class="fa-solid fa-ellipsis-vertical"></i>
		</span>
		<div class="mapa">
			<a href="/mapa-do-site" class="siteMap">Mapa do Site</a>
			<a href="#altocontraste">
				<i class="fas fa-adjust"></i>
			</a>
		</div>
		<a id="acessibilidade">
			<i class="fa-solid fa-universal-access"></i>
		</a>
	</div>

	<div class="header-mobile-menu oculto-no-mobile" id="menu-mobile-esquerda">
		{{ page.header_cima_esquerda }}
	</div>
	<div class="header-mobile-acessibilidade oculto-no-mobile" id="menu-mobile-acessibilidade">
		{{ page.header_cima_direita }}
	</div>
</div>
<div class="container oculto-no-mobile">
	<div class="row header-cima d-flex justify-content-between py-3">
		<div class="esquerda">
			{{ page.header_cima_esquerda }}
		</div>
		<div class="direita">
			{{ page.header_cima_direita }}
		</div>
	</div>
</div>
<div id="menuTotalFixo">
	<div class="container">
		<div class="row header-baixo justify-content-between align-items-center">
			<div class="col-lg-8 col-md-6 header d-flex align-items-center py-2">
				<div class="menu-primary" id="menu-primary" style="display: block;">
					<i class="fa-solid fa-bars"></i>
				</div>
				<div id="closeMenu" style="display: none;">
					<i class="fas fa-times"></i>
				</div>
				<a href="{{ base_path }}" class="d-flex align-items-center">
					<div class="logo oculto-no-mobile">
						<img src="{{ logo }}" alt="{{ site_name }}">
					</div>
					<div class="cabecalho">
						<h1>{{ site_name }}</h1>
						<p class="oculto-no-mobile">{{ site_slogan }}</p>
					</div>
				</a>
			</div>
			<div class="search col-lg-4 col-md-6 justify-content-end d-flex">
				<div>
					<div class="searckMobile">
						<i class="fas fa-search searchMobileIco"></i>
					</div>
					{{ page.header_baixo_direita }}
				</div>
			</div>
		</div>
	</div>

	<div class="menu-primario-ativo pb-4" style="display: none;">
		<div class="barra-superior"></div>
		<div class="menu-content">
			<div class="container">
				<div class="row">
					<div class="col-12">
						{{ page.menu_primario }}
					</div>
				</div>
				<div class="row pt-5">
					<img src="/sites/all/themes/govbr/assets/img/logo govbr.svg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
